IP-Adapter/sdxl_models/ip-adapter_sdxl.bin
IP-Adapter/sdxl_models/ip-adapter_sdxl.bin.1
.gitignore
llama-3.1-transformers-8b-instruct-v2/config.json
llama-3.1-transformers-8b-instruct-v2/generation_config.json
llama-3.1-transformers-8b-instruct-v2/LICENSE
llama-3.1-transformers-8b-instruct-v2/model-00001-of-00004.safetensors
llama-3.1-transformers-8b-instruct-v2/model-00002-of-00004.safetensors
llama-3.1-transformers-8b-instruct-v2/model-00003-of-00004.safetensors
llama-3.1-transformers-8b-instruct-v2/model-00004-of-00004.safetensors
llama-3.1-transformers-8b-instruct-v2/model.safetensors.index.json
llama-3.1-transformers-8b-instruct-v2/README.md
llama-3.1-transformers-8b-instruct-v2/special_tokens_map.json
llama-3.1-transformers-8b-instruct-v2/tokenizer_config.json
llama-3.1-transformers-8b-instruct-v2/tokenizer.json
llama-3.1-transformers-8b-instruct-v2/USE_POLICY.md
llama-3.1-transformers-8b-instruct-v2/original/consolidated.00.pth
llama-3.1-transformers-8b-instruct-v2/original/params.json
llama-3.1-transformers-8b-instruct-v2/original/tokenizer.model
